/* -- GLOBALS -- */
html {
    box-sizing: border-box;
    background: url(../images/dark-carbon-fiber.png);
    background-attachment: fixed;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

body {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #87CEFA;
    box-shadow: 0px 3px 20px #000;
    border: 2px solid #87CEFA;
    border-radius: 7px 7px 7px 7px;
}

@font-face {
  font-family: 'Titel';
  src: url(../font/batmfa__.ttf);
  font-weight: 400;
}

p {
    font-family: 'Titel', serif;
    font-size: 90%;
    color: #87CEFA;
    padding-top: 5px;
    margin-bottom: 3px;
}

H1 {
    font-family: 'Titel', serif;
    font-size: 43pt;
    float:right;
    display: inline-block;
    color: #FFF;
    margin-top: 20px;
    margin-right: 10px;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

H2 {
    font-family: 'Titel', serif;
    font-size: 110%;
    color: #FFF;
    padding-top: 10px;
    margin-right: 10px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    display: inline-block;
}

H3 {

}

H4 {

}

b {}

u {}

a:visited{}
a:active {}

a {
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #FFF;
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

nav {
    font-family: 'Titel', serif;
    width: 100%;
    background: -webkit-gradient(linear, 100% 0%, 80% 100%, from(#FFF), to(#113857));
    background: -moz-linear-gradient(80% 0% 0deg, #113857, #FFF 100%);
    height: 36px; 
    border-top: 1px solid #87CEFA;
    border-bottom: 1px solid #87CEFA;
    border-radius: 7px 0 0 7px;
    box-shadow: 2px 3px 7px #FFF;
}

nav ul li a {
    color: #87CEFA;
    padding: 10px 10px 5px 10px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.8);
}

.navItems {
    width: auto;
    height: auto;
    float:left;
    padding: 10px;
    margin-top: 1px;
    border-right: 1px solid #87CEFA;
    font-size: 90%;
}

.navItems:last-child {
    border-right: none;
    padding-right: 0;
}

section {
    background-color: #87CEFA;
    height: auto;
    width: 100%;
}

header {
    height: auto;
    width: 100%;
    background-color: #113857;
    border-radius: 7px 7px 7px 7px;
}

footer {
    font-family: 'Titel', serif;
    height: 37.5px;
    width: 100%;
    background-color: #113857;
    border-top: 1px solid #87CEFA;
    text-align: center;
    color: #87CEFA;
    padding-top: 27.5px;
    font-size: 90%;
    border-radius: 7px 7px 7px 7px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.8);
}

.items {
    vertical-align: top;
    background-color: #87CEFA;
    height: 100%;
    width: 35%;
    margin: 10px;
    border: 4px double #000;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-family: 'Titel', serif;
    font-size: 90%;
}

.items:hover {
    border: 4px double #ffd700;
    background-color: #113857;
    box-shadow: 0px 2px 15px rgba(255, 255, 255, 1);
}

.items:hover > .itemText {
    color: #FFF;
}

.items:hover > .itemImage {
    border-bottom: 1px solid #ffd700;
}

.itemImage {
    width: 100%;
    border-bottom: 1px solid #87CEFA;
}

.itemText {
    padding: 0 2px 3px 5px;
    color: #113857;
}

.items > a {
    line-height: 2.5;
}

.logo {
    height: 95px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.itemWrapper {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #113857;
    display: inline-block;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 7px 7px 7px 7px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bottomLine {
    width: 100%;
    background: -webkit-gradient(linear, 0% 100%, 20% 0%, from(#FFF), to(#113857));
    background: -moz-linear-gradient(0% 0% 0deg, #FFF, #113857 20%);
    height: 36px; 
    box-shadow: -2px 3px 7px #FFF;
    clear: both;
    border-top: 2px solid #87CEFA;
    border-radius: 0 7px 7px 0;
}

#loginForm {
    width: 200px;
}

input {
    width: 150px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 2px 0 2px 5px;
    border: 2px solid #FFF;
    box-shadow: 2px 3px 7px #000;
}

input:focus {
    border: 2px solid #87CEFA;
}

label {
    font-family: 'Titel', serif;
    font-size: 90%;
    color: #87CEFA;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.8);
    padding-bottom: 5px;
}

.button {
    width: 75px;
    border-radius: 7px;
    cursor: pointer;
    border: 1.5px solid #87CEFA;
    padding: 5px;
    font-family: 'Titel', serif;
    font-size: 90%;
    background-color: #87CEFA;
    color: #000;
}

.button:hover {
    background-color: #113857;
    border: 1.5px solid #ffd700;
    color: #87CEFA;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.8);
}

#loginFormat {
    padding: 50px 0;
}

#infoPageWrapper {
    width: 400px;
    height: auto;
    border: 3px double #87CEFA;
    box-shadow: 2px 3px 7px #000;
}

#selectedFilm {
    width: 50%;
    border-width: 0 1px 1px 0;
    border-color: #87CEFA;
    border-style: solid;
    float: left;
    box-shadow: 1px 1px 3px #000;
}

#filmBeschrijving {
    padding: 0 5px 10px 5px;
    clear: both;
}

#buyTicketsBtn {
    float: left;
    margin-top: 15px;
    margin-left: 55px;
    box-shadow: 1px 1px 3px #000;
}

#errorLogin {
    margin-top: 40px;
    font-size: 100%;
    color: #FF0009;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.8);
    margin-bottom: 0;
    padding-top: 0;
    margin-left: 55px;
    margin-right: 55px;
}

#description {
    float: left;
    padding: 8px;
    clear: both;
}

p > a {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

p > a:hover {
  color: #ffd700;
  text-shadow: #ffd700;
}

p > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffd700;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

p > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#registerButton {
    width: 100px;
}
/* -- colors -- */
/*Hex code gebruiken*/

/* -- fonts -- */

/* -- links -- */

/* -- padding -- */

/* -- margin -- */

/* -- borders -- */

/* -- backgrounds -- */

/* -- buttons -- */